.multiline{
  white-space: pre-line;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

.card .card-title{
  font-weight: 400;
}

.btn,.btn-large,.btn-small{
  background-color: rgb(40,44,52);
  border-radius: 12px;
}
.btn-flat{
  border-radius: 12px;

}
.boton-agregar,.boton-agregar:hover,.boton-agregar:active,.boton-agregar:visited,.boton-agregar:checked{
  background-color:#2196f3 !important;

}
.boton-eliminar,.boton-eliminar:hover,.boton-eliminar:active,.boton-eliminar:visited,.boton-eliminar:checked{
  background-color:#f44336 !important;
}


.boton-vaciar{
  position:absolute;
  top:0;
  right:0
}

.dropdown-content .item-carrito{
  position:relative;
}


.boton-eliminar-item{
  position:absolute;
  right:0;
}
nav{
  background-color: rgb(40,44,52);
}

.dropdown-trigger.btn{
  background-color: antiquewhite;
  color:black;
}

.dropdown-content{
  color:rgba(0,0,0,0.87) !important;
  width:250px !important;
  padding:10px 30px 30px 30px !important;
}
.dropdown-content li:hover{
  background-color: unset;
}
li.item-carrito:hover{
  background-color: #eee;
}
.item-carrito:first-child{
  margin-top:20px;
}
.item-carrito:last-child{
  margin-bottom:20px;
}
@media only screen and (max-width: 600px) {

}
@media only screen and (max-width: 1400px) {
  .boton-eliminar-item{
    bottom:0;
  }
}